.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d97210;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-menu li a.active {
  color: #a78661;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

.nav-menu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 2rem 0;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 998;
}

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin-bottom: 1rem;
  }
}
